@{
    if (!sessionManager.IsLoggedIn())
    {
        return;
    }
    var role = sessionManager.GetRole();
    var user = sessionManager.GetUser();
    var userinfo = userManager.GetUserInfo(user);
    var cities = ViewBag.Cities as IEnumerable<City>;
    var polyclinics = ViewBag.Polyclinics as IEnumerable<Polyclinic>;
    var hospitals = ViewBag.Hospitals as IEnumerable<Hospital>;
}

<div class="user-filtre">
    <div class="container" data-aos="fade-left"
         data-aos-anchor="#example-anchor"
         data-aos-offset="500"
         data-aos-duration="500">
        <a asp-action="SignOut" class="sign-out hvr-box-shadow-inset"><i class="fa fa-sign-out" aria-hidden="true"></i> ÇIKIŞ</a>
        <a href="#" class="profil hvr-box-shadow-inset">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            Sn. @userinfo.Name @userinfo.Surname
        </a>

    </div>
</div>
<div class="container">
    <div class="dropdown" data-aos="fade-up"
         data-aos-duration="3000">

        <h5>HASTANE RANDEVU ARAMA</h5>
        <form>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="citySelect">
                    <option selected>İl</option>
                    @foreach (var item in cities)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="townSelect">
                    <option selected>İlçe</option>
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="polyclinicSelect">
                    <option selected>Klinik</option>
                    @foreach (var item in polyclinics)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="hospitalSelect">
                    <option selected>Hastane</option>
                    @foreach (var item in hospitals)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="buttons">
                <button type="reset" class="reset-but hvr-round-corners">TEMİZLE</button>
                <button type="submit" class="search hvr-round-corners">RANDEVU ARA</button>
            </div>
        </form>
        <div class="data">
            <table class="table col-md-12">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Hekim</th>
                        <th scope="col">Kurum Adı</th>
                        <th scope="col">Muayene Yeri</th>
                        <th scope="col">Tarih</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="female">
                        <th class="icon col-md-offset">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                        </th>
                        <td class="doctor">
                            <span>Dilan Ece Çelik</span>
                        </td>
                        <td class="hospital">
                            Gülhane Araştırma Hastanesi
                        </td>
                        <td class="place">
                            Göz Hastalıkları Polikinliği-1
                        </td>
                        <td class="tarih">
                            <span>En Erken :20.10.2019</span>
                        </td>
                        <a href="#">
                            <td class="icon-arrow">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </td>
                        </a>
                    </tr>
                    <tr class="male">
                        <th class="icon col-md-offset">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                        </th>
                        <td class="doctor">
                            <span>Furkan Ege Çelik</span>
                        </td>
                        <td class="hospital">
                            Gülhane Araştırma Hastanesi
                        </td>
                        <td class="place">
                            Göz Hastalıkları Polikinliği-1
                        </td>
                        <td class="tarih">
                            <span>En Erken :10.70.2019</span>
                        </td>
                        <a href="#">
                            <td class="icon-arrow">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </td>
                        </a>
                    </tr>
                    <tr class="female">
                        <th class="icon col-md-offset">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                        </th>
                        <td class="doctor">
                            <span>Dilan Ece Çelik</span>
                        </td>
                        <td class="hospital">
                            Gülhane Araştırma Hastanesi
                        </td>
                        <td class="place">
                            Göz Hastalıkları Polikinliği-1
                        </td>
                        <td class="tarih">
                            <span>En Erken :20.10.2019</span>
                        </td>
                        <a href="#">
                            <td class="icon-arrow">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </td>
                        </a>
                    </tr>
                <tbody>
            </table>
        </div>

    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            function regDependentSelect(dependeeDOMId, dependantDOMId, url, dependeeFirstOption, dependantFirstOption, twoWay) {
                $(dependeeDOMId).on('change', function () {  
                    $(dependantDOMId).html("<option>"+dependantFirstOption+"</option>");
                    if (this.value != dependeeFirstOption) {
                        if (twoWay == null) {
                            $(dependantDOMId).html("<option>Yükleniyor...</option>");
                        }
                        $.ajax({
                            url: url + "/" + this.value,
                            success: function (data) {
                                if (twoWay == null) {
                                    $(dependantDOMId).html("<option>" + dependantFirstOption + "</option>");
                                } else {
                                    let current = $(dependantDOMId).find("option").children();
                                    console.log(current);
                                }
                                
                                $.each(data, function () {
                                    $(dependantDOMId).append($("<option />").val(this.id).text(this.name));
                                });
                            }
                        });
                    }
                });
            }

            let dep = [
                { dependee: '#citySelect', dependant: '#townSelect', url: "/api/GetTowns", firstdependee: "İl", firstdependant:"İlçe"},
                { dependee: '#hospitalSelect', dependant: '#polyclinicSelect', url: "/api/GetPolyclinics", firstdependee: "Klinik", firstdependant: "Hastane" },
                { dependee: '#polyclinicSelect', dependant: '#hospitalSelect', url: "/api/GetHospitals", firstdependee: "Hastane", firstdependant: "Klinik"},
            ];

            $.each(dep, function () {
                regDependentSelect(this.dependee, this.dependant, this.url, this.firstdependee, this.firstdependant);
            });

            console.log("değişiklik test");
        });
    </script>
}