@model FilterVM

@{
    var role = sessionManager.GetRole();
    var user = sessionManager.GetUser();
    var userinfo = userManager.GetUserInfo(user);
    var cities = ViewBag.Cities as IEnumerable<City>;
    var clinics = ViewBag.Clinics as IEnumerable<Clinic>;
    var hospitals = ViewBag.Hospitals as IEnumerable<Hospital>;
}

<div class="user-filtre">
    <div class="container" data-aos="fade-left"
         data-aos-anchor="#example-anchor"
         data-aos-offset="500"
         data-aos-duration="500">
        <a asp-action="SignOut" class="sign-out hvr-box-shadow-inset"><i class="fa fa-sign-out" aria-hidden="true"></i> ÇIKIŞ</a>
        <a href="#" class="profil hvr-box-shadow-inset">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            Sn. @userinfo.Name @userinfo.Surname
        </a>

    </div>
</div>
<div class="row pull-right" id="dateArea">
    <form>
        <div class="form-group">
            <input id="datetimepicker" type="text"/>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control  btn-outline-primary" value="Randevu Oluştur" />
        </div>
        
    </form>
</div>
<div class="container">
    <div class="dropdown" data-aos="fade-up"
         data-aos-duration="3000">

        <h5>HASTANE RANDEVU ARAMA</h5>
        <form method="post">
            <div class="input-group mb-3 il">
                <select class="custom-select" id="citySelect" asp-for="CityId">
                    <option selected>İl</option>
                    @foreach (var item in cities)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="townSelect" asp-for="TownId">
                    <option selected>İlçe</option>
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="clinicSelect" asp-for="ClinicId">
                    <option selected>Klinik</option>
                    @foreach (var item in clinics)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="hospitalSelect" asp-for="HospitalId">
                    <option selected>Hastane</option>
                    @foreach (var item in hospitals)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="buttons">
                <button type="button" class="reset-but hvr-round-corners" onclick="window.location = '@Url.Action("Index")'">TEMİZLE</button>
                <button type="submit" class="search hvr-round-corners">RANDEVU ARA</button>
            </div>
        </form>
        <div class="data">
            @if (ViewBag.Result != null)
            {
                <table class="table col-md-12">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Hekim</th>
                            <th scope="col">Kurum Adı</th>
                            <th scope="col">Muayene Yeri</th>
                            <th scope="col">Tarih</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.Result as IEnumerable<User>)
                        {
                            <tr class="@(item.UserInfo.Gender == "Erkek" ? "Male" : "Female" )">
                                <th class="icon col-md-offset">
                                    <i class="fa fa-user-md" aria-hidden="true"></i>
                                </th>
                                <td class="doctor">
                                    <span>@item.UserInfo.Name @item.UserInfo.Surname</span>
                                </td>
                                <td class="hospital">
                                    @item.UserInfo.Hospital.Name
                                </td>
                                <td class="place">
                                    @if (hospitalManager.GetPolyclinic(item.UserInfo.Hospital, item.UserInfo.Clinic) != null)
                                    {
                                        @hospitalManager.GetPolyclinic(item.UserInfo.Hospital, item.UserInfo.Clinic).Name
                                    }
                                    else
                                    {
                                        @item.UserInfo.Clinic.Name
                                    }
                                </td>
                                <td class="tarih">
                                    @if (appointmentManager.GetDoctorLatestAppointment(item) == null)
                                    {
                                        <span>En Erken @DateTime.Now.Add(TimeSpan.FromDays(1)).ToShortDateString()</span> <!--eğer bir randevusu yoksa en erken tarih olarak yarını seç-->
                                    }
                                    else
                                    {
                                        <span>En Erken @appointmentManager.GetDoctorLatestAppointment(item).Time.ToShortDateString()</span>
                                    }
                                </td>

                                <td class="icon-arrow">
                                    <a href="#" onclick="GetAppointments('@item.Id')">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    </a>
                                </td>

                            </tr>
                        }

                    <tbody>
                </table>
            }
            else
            {
                //add something here
            }
        </div>

    </div>
</div>

@section Styles {
    <link href="~/css/jquery.datetimepicker.min.css"  rel="stylesheet"/>
}

@section Scripts{
    <script src="~/js/jquery.datetimepicker.full.min.js"></script>
    <script>
        $(document).ready(function () {
            let dep = [
                { dependee: '#citySelect', dependant: '#townSelect', url: "/api/GetTowns", firstdependee: "İl", firstdependant: "İlçe" },
                { dependee: '#citySelect', dependant: '#hospitalSelect', url: "/api/GetHospitalByCity", firstdependee: "İl", firstdependant: "Hastane" },
                { dependee: '#townSelect', dependant: '#hospitalSelect', url: "/api/GetHospitalByTown", firstdependee: "İlçe", firstdependant: "Hastane" },
            ];

            $.each(dep, function () {
                regDependentSelect(this.dependee, this.dependant, this.url, this.firstdependee, this.firstdependant);
            });

            $('#clinicSelect').on("change", function () {
                var selectedVal = $('#hospitalSelect').find(":selected").val();
                $.ajax({
                    url: "/api/GetClinic/" + this.value,
                    success: function (data) {
                        
                        $('#hospitalSelect').html("<option>Hastane</option>");
                        $.each(data.hospitals, function (_, val) {
                            $("#hospitalSelect").append($("<option />").val(val.id).text(val.name));
                            if (selectedVal === val.id.toString()) {
                                $("#hospitalSelect option[value='" + val.id + "']").attr("selected", "selected");
                            }
                        });

                    },
                    error: function () {
                        $.ajax({
                            url: "/api/GetHospitals",
                            success: function (data) {
                                $('#hospitalSelect').html("<option>Hastane</option>")
                                $.each(data, function (_, val) {
                                    $("#hospitalSelect").append($("<option />").val(val.id).text(val.name));
                                });
                            }
                        })
                    }
                });

            });

            $('#hospitalSelect').on("change", function () {
                var selectedVal = $('#clinicSelect').find(":selected").val();
                $.ajax({
                    url: "/api/GetHospital/" + this.value,
                    success: function (data) {
                        
                        $('#clinicSelect').html("<option>Klinik</option>")
                        $.each(data.clinics, function (_, val) {
                            $("#clinicSelect").append($("<option />").val(val.id).text(val.name));
                            
                            if (selectedVal === val.id.toString()) {
                                $("#clinicSelect option[value='" + val.id + "']").attr("selected", "selected");
                                console.log(val.id + " " + selectedVal)
                            }
                        });

                    },
                    error: function () {
                        
                        $.ajax({
                            url: "/api/GetClinics",
                            success: function (data) {
                                $('#clinicSelect').html("<option>Klinik</option>")
                                $.each(data, function (_, val) {
                                    $("#clinicSelect").append($("<option />").val(val.id).text(val.name));
                                });
                            }
                        })
                    }
                });

            });

            $('#datetimepicker').datetimepicker(
                {
                    minDate:'+1970/01/02',//yesterday is minimum date(for today use 0 or -1970/01/01)
                    lang: 'tr',
                    inline: true,
                    allowTimes: ["00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00"],
                }
            );
            $('#dateArea').hide();
            
        });
        function GetAppointments(id) {
            $.ajax({
                url: "/api/GetDoctorAppointments/"+id,
                type: "get",
                success: function (data) {
                    var disabledDates = [];
                    var dates = {};
                    $.each(data, function (_, val) {
                        var date = moment(val.time, moment.HTML5_FMT.DATE);
                        var time = moment(val.time, "HH");
                        //disabledDates.append(date);
                        if (dates[date] == null) {
                            dates[date] = [];
                        }
                        dates[date].append(time);
                    });
                    $('#dateArea').show();
                    $('#datetimepicker').datetimepicker('setOptions', {
                        inline: true,
                        //disabledDates: disabledDates,                      
                        onChangeDateTime:function(ct,$i){
                          var ind = moment(ct, moment.HTML5_FMT.DATE);
                          $('.xdsoft_time_variant .xdsoft_time').show();
                          if(ind !== -1) {
                              $('.xdsoft_time_variant .xdsoft_time').each(function (index) {
                                  if (dates[ind] != null) {
                                      if (dates[ind].indexOf(parseInt($(this).text())) !== -1) {
                                          $(this).hide();
                                      }
                                  }
                              });
                          }
                        }
                    });
                }
            });
        }
        
    </script>
}