@{
    var role = sessionManager.GetRole();
    var user = sessionManager.GetUser();
    var userinfo = userManager.GetUserInfo(user);
    var cities = ViewBag.Cities as IEnumerable<City>;
    var clinics = ViewBag.Clinics as IEnumerable<Clinic>;
    var hospitals = ViewBag.Hospitals as IEnumerable<Hospital>;
}

<div class="user-filtre">
    <div class="container" data-aos="fade-left"
         data-aos-anchor="#example-anchor"
         data-aos-offset="500"
         data-aos-duration="500">
        <a asp-action="SignOut" class="sign-out hvr-box-shadow-inset"><i class="fa fa-sign-out" aria-hidden="true"></i> ÇIKIŞ</a>
        <a href="#" class="profil hvr-box-shadow-inset">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            Sn. @userinfo.Name @userinfo.Surname
        </a>

    </div>
</div>
<div class="container">
    <div class="dropdown" data-aos="fade-up"
         data-aos-duration="3000">

        <h5>HASTANE RANDEVU ARAMA</h5>
        <form>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="citySelect">
                    <option selected>İl</option>
                    @foreach (var item in cities)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="townSelect">
                    <option selected>İlçe</option>
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="clinicSelect">
                    <option selected>Klinik</option>
                    @foreach (var item in clinics)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="input-group mb-3 il">
                <select class="custom-select" id="hospitalSelect">
                    <option selected>Hastane</option>
                    @foreach (var item in hospitals)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="buttons">
                <button type="reset" class="reset-but hvr-round-corners">TEMİZLE</button>
                <button type="submit" class="search hvr-round-corners">RANDEVU ARA</button>
            </div>
        </form>
        <div class="data">
            <table class="table col-md-12">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Hekim</th>
                        <th scope="col">Kurum Adı</th>
                        <th scope="col">Muayene Yeri</th>
                        <th scope="col">Tarih</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="female">
                        <th class="icon col-md-offset">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                        </th>
                        <td class="doctor">
                            <span>Dilan Ece Çelik</span>
                        </td>
                        <td class="hospital">
                            Gülhane Araştırma Hastanesi
                        </td>
                        <td class="place">
                            Göz Hastalıkları Polikinliği-1
                        </td>
                        <td class="tarih">
                            <span>En Erken :20.10.2019</span>
                        </td>
                        <a href="#">
                            <td class="icon-arrow">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </td>
                        </a>
                    </tr>
                    <tr class="male">
                        <th class="icon col-md-offset">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                        </th>
                        <td class="doctor">
                            <span>Furkan Ege Çelik</span>
                        </td>
                        <td class="hospital">
                            Gülhane Araştırma Hastanesi
                        </td>
                        <td class="place">
                            Göz Hastalıkları Polikinliği-1
                        </td>
                        <td class="tarih">
                            <span>En Erken :10.70.2019</span>
                        </td>
                        <a href="#">
                            <td class="icon-arrow">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </td>
                        </a>
                    </tr>
                    <tr class="female">
                        <th class="icon col-md-offset">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                        </th>
                        <td class="doctor">
                            <span>Dilan Ece Çelik</span>
                        </td>
                        <td class="hospital">
                            Gülhane Araştırma Hastanesi
                        </td>
                        <td class="place">
                            Göz Hastalıkları Polikinliği-1
                        </td>
                        <td class="tarih">
                            <span>En Erken :20.10.2019</span>
                        </td>
                        <a href="#">
                            <td class="icon-arrow">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </td>
                        </a>
                    </tr>
                <tbody>
            </table>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            let dep = [
                { dependee: '#citySelect', dependant: '#townSelect', url: "/api/GetTowns", firstdependee: "İl", firstdependant: "İlçe" },
                { dependee: '#citySelect', dependant: '#hospitalSelect', url: "/api/GetHospitalByCity", firstdependee: "İl", firstdependant: "Hastane" },
                { dependee: '#townSelect', dependant: '#hospitalSelect', url: "/api/GetHospitalByTown", firstdependee: "İlçe", firstdependant: "Hastane" },
            ];

            $.each(dep, function () {
                regDependentSelect(this.dependee, this.dependant, this.url, this.firstdependee, this.firstdependant);
            });

            $('#clinicSelect').on("change", function () {
                $.ajax({
                    url: "/api/GetClinic/" + this.value,
                    success: function (data) {
                        var selectedVal = $('#hospitalSelect').value;
                        $('#hospitalSelect').empty();
                        $.each(data.hospitals, function (_, val) {
                            $("#hospitalSelect").append($("<option />").val(val.id).text(val.name));
                            if (selectedVal === val.id) {
                                $("#hospitalSelect option[value='" + val.id + "']").attr("selected", "selected");
                            }
                        });

                    },
                    error: function () {
                        $.ajax({
                            url: "/api/GetClinics",
                            success: function (data) {
                                $('#hospitalSelect').empty();
                                $.each(data.hospitals, function (_, val) {
                                    $("#hospitalSelect").append($("<option />").val(val.id).text(val.name));
                                });
                            }
                        })
                    }
                });

            });

            $('#hospitalSelect').on("change", function () {
                $.ajax({
                    url: "/api/GetHospital/" + this.value,
                    success: function (data) {
                        var selectedVal = $('#clinicSelect').value;
                        $('#clinicSelect').empty();
                        $.each(data.clinics, function (_, val) {
                            $("#clinicSelect").append($("<option />").val(val.id).text(val.name));
                            if (selectedVal === val.id) {
                                $("#clinicSelect option[value='" + val.id + "']").attr("selected", "selected");
                            }
                        });

                    },
                    error: function () {
                        $.ajax({
                            url: "/api/GetHospitals",
                            success: function (data) {
                                $('#clinicSelect').empty();
                                $.each(data.hospitals, function (_, val) {
                                    $("#clinicSelect").append($("<option />").val(val.id).text(val.name));
                                });
                            }
                        })
                    }
                });

            });
        });
    </script>
}